*,
html{
    padding: 0;
    margin: 0;
}

.navbar {
    background-color:red;
    width: 100%;
    height: 10vh;
}
.ul-navbar {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items:  baseline;
}
.li-navbar{
   
    list-style-type: none;
    color: white;
    margin: 5px;
    padding: 10px;
    font-size:25px;
}
.li-navbar:hover{
    background-color: rgb(43, 43, 43);
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}
.container-gambar{
    height: 70vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-p-home{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gambar {
    height: 350px;
    width: 350px;
}
.container-p {
    
    display: 10vh;
}
.class-p{

    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-footer {
    background-color: red;
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.footer:hover{
    background-color: rgb(43, 43, 43);
    height: 40px;
    width: 150px;
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}
.a-about {
    color: white;
    text-decoration: none;
}